@import 'config/_general.css';
@import 'config/_colors.css';

/* footer */
@import './modules/now_playing_bar.css';
/* top bar */
@import './modules/top_bar.css';
/* main content-center */
@import './modules/main_view.css';
/* nav bar left */
@import './modules/nav_bar.css';
.main {
	width: 100vw;
	height: 100vh;
	background: #000;
	color: var(--white-gray);
	font-family: Helvetica, sans-serif;
	font-weight: 700;
	font-size: 14px;
	display: grid;
	grid-template-columns: 230px auto;
	grid-template-rows: 60px auto 115px;
	grid-template-areas:
		'nav header'
		'nav content'
		'footer footer';
}
