.root__main-view {
	background-color: var(--dark);
	grid-area: content;
}
.mainView-ctn {
	height: 450px;
	overflow: auto;
}
.background {
	height: 280px;
	background-image: url(../../assets/img/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 15%;
	padding: 0 32px 24px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	opacity: 0.8;
}
.background__nav {
	background-color: salmon;
	display: flex;
	justify-content: space-around;
	position: sticky;
	top: 0;
}
.mainView__content {
	background: linear-gradient(rgba(255, 255, 255, 0.1), black);
}
.popular__wrapper {
	margin-top: 20px;
	padding: 0 16px;
}
.popularSong__item {
	display: flex;
	padding: 0 16px;
	height: 56px;
	border-radius: 4px;
	user-select: none;
}
.popularSong__info-pic {
	width: 40px;
	height: 40px;
	background-color: red;
	margin-right: 10px;
}
.popularSong__info {
	background-color: blue;
	display: flex;
	align-items: center;
}
.popularSong__info-name {
	color: var(--white);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.popularSong__position {
	display: flex;
	align-items: center;
	padding-right: 10px;
}

@media screen and (min-width: 1024px) {
	.popularSong__item:hover {
		background-color: rgba(255, 255, 255, 0.1);
	}
}
